* {
    font-size: 14px;
}
  
.content-wrapper {
    width: 100%;
    min-height: 100vh;
}
.content-body {
    padding: 0 20px 40px;
    max-width: 1280px;
    margin: auto;
}

/* Headings */
.heading-1 {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #808080;
    height: 70px;
    background-color: #ADD8E6;
    padding: 10px;
}

/* Search and Filter */
.search__form {
    padding: 20px 0;
}
.search_form form {
    display: flex;
}
.search__form .form-control {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 10px;
}

/* Buttons */
.btn {
    font-size: 1rem;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #495057;
    background-color: #ADD8E6;
    border: 1px solid #CED4DA;
}
.btn-lg {
    font-size: 18px;
    padding: 10px 18px;
}
.btn-block {
    display: block;
    margin: 20px auto;
}

/* Tab */
@media screen and (max-width: 992px) {
    /* Tab styles */
}

/* Mobile */
@media screen and (max-width: 600px) {
    .search__form form {
        display: flex;
        flex-direction: column;
    }
    .search__form .form-control {
        margin: 0 0 10px 0;
    }
}