/* LOADER */
#loader-container {
    z-index: 999;
    position:fixed;
    width: 100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0,0,0,0.4);
}
.loader {
    background: linear-gradient( to bottom, rgb(0,112,186, 0), rgb(0,112,186, 1.0));
    /* Show only 10px from the border */
    -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - 5px),#fff 0);
            mask:radial-gradient(farthest-side,transparent calc(100% - 5px),#fff 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 10px);  
    animation: rot .8s linear infinite; 
}
@keyframes rot {
    100% { transform: rotate(360deg); }
}