/* Modal */
.vm--overlay {
    background: rgba(0, 0, 0, 0.8);
}
.vm--modal {
    background-color: inherit !important;
    box-shadow: unset !important;
}
.modal {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
}
.modal-body {
    display: flex;
    align-items: center;
    height: 100%;
}
.modal-content {
    position: relative;
    display: flex;
    flex-flow: column;
    background: #ffffff;
    width: 100%;
    border: 5px solid #ADD8E6;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: scroll;
}

/* Tab */
@media screen and (max-width: 992px) {
    .vm--modal {
        width: 90% !important;
        height: 100% !important;
        margin: auto;
        position: unset !important;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .vm--modal {
        width: 80% !important;
        height: 100% !important;
        margin: auto;
        position: unset !important;
    }
}