/* News List */
.news-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.news-item {
    width: 32%;
    height: 100%;
    border: 3px solid #ADD8E6;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(173,216,230,0.8);
    cursor: pointer;
}
.news-item-title {
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-item-author {
    margin: 5px;
    font-weight: 400;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-item-desc {
    margin: 15px 5px;
}
.news-item-link {
    margin: 5px;
}
.news-item-date {
    border-top: 1px solid #808080;
    background-color: #D4D4D4;
    width: 100%;
    padding: 5px;
    color: gray;
    margin-bottom: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.news-item img {
    width: 100%;
    max-height: 75%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #808080;
}

/* Custom in Modal */
.news-detail-content .img {
    width: 70%;
    margin: 30px auto 0;
}
.news-detail-content .img img {
    width: 100%;
    border: 1px solid #808080;
    border-radius: 10px;
}
.news-detail-content .details {
    padding: 20px;
}
.news-detail-content .news-item-date {
    padding: 10px 20px;
    border-radius: 0;
}

/* Tab */
@media screen and (max-width: 992px) {
    .news-item {
        width: 48%;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .news-item {
        width: 100%;
    }
}