<template>
  <header class="header">
    <h1 class="heading-1">{{ title }}</h1>
  </header>
</template>

<script>
export default {
  name: 'Header',
  data: () => {
    return {
      title: "News App",
    }
  }
}
</script>