<template>
    <div class="search__form">
        <form @submit.prevent="searchNews">
            <select class="form-control form-select" v-model="country">
                <option disabled selected>---Select Country---</option>
                <option v-for="(country,index) in countryList" :value="country.isocode" :key="'country-'+index">{{country.name}}</option>
            </select>
            <select class="form-control form-select" v-model="category">
                <option disabled selected>---Select Category---</option>
                <option v-for="(category,index) in categoryList" :key="'category-'+index">{{category}}</option>
            </select>
            <input class="form-control form-text" type="text" v-model="keyword" placeholder="Keywords (optional)"/>
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
</template>

<script>
export default {
    name: "NewsListSearch",
    data: () => {
        return {
            countryList: [{
                isocode: "au",
                name: "Australia"
            },{
                isocode: "us",
                name: "USA"
            },{
                isocode: "ph",
                name: "Philippines"
            }],
            categoryList: ["Business","Entertainment","General","Health","Science","Sports","Technology"]
        }
    },
    computed: {
        country: {
            get () { return this.$store.state.filter.country },
            set (value) { this.$store.commit('UPDATE_COUNTRY', value) }
        },
        category: {
            get () { return this.$store.state.filter.category },
            set (value) { this.$store.commit('UPDATE_CATEGORY', value) }
        },
        keyword: {
            get () { return this.$store.state.filter.keyword },
            set (value) { this.$store.commit('UPDATE_KEYWORD', value) }
        },
    },
    methods: {
        searchNews(){
            this.$store.commit('UPDATE_LOADER',true);
            this.$store.dispatch("getAllNewsList");
        }
    }
}
</script>