<template>
  <div class="news">
    <NewsListSearch />
    <NewsList />
  </div>
</template>

<script>
import NewsListSearch from './NewsListSearchComponent.vue'
import NewsList from './NewsListComponent.vue'
export default {
    name: 'News',
    components: {
        NewsList,
        NewsListSearch
    },
}
</script>