<template>
    <modal name="news-detail-modal" class="fade show full-scroll" width="40%" height="80%" style="display: block;" aria-modal="true" role="dialog">
        <div class="modal-body">
            <div class="modal-content full-scroll news-detail-content">
                <div class="img">
                    <img :src="news.urlToImage" :alt="news.title"/>
                </div>
                <div class="details">
                    <h2 class="news-item-title">{{ news.title }}</h2>
                    <h3 class="news-item-author" v-show="news.author!=null">Published by: {{ news.author }}</h3>
                    <p class="news-item-desc">{{news.description}}</p>
                    <a class="news-item-link" :href="news.url" target="_blank">Go to Article</a>
                </div>
                <p class="news-item-date">Published at: {{ formatPublishDate(news.publishedAt) }}</p>
            </div>
        </div>
    </modal>
</template>

<script>
export default {
    name: "NewsDetail",
    data: () => {
        return {
            news: {},
        }
    },
    methods: {
        async getNewsDetail(){
            this.news = this.info;
            this.$modal.show('news-detail-modal');
        },
    }
}
</script>