<template>
<div>
    <div v-if="newsList.length" class="news-list">
        <div v-for="(news,index) in newsList" :key="'news'+index" 
            class="news-item" @click="getNewsDetail(index)">
            <img :src="news.urlToImage ? news.urlToImage : placeholderImg" :alt="news.title"/>
            <h2 class="news-item-title">{{ news.title }}</h2>
            <h3 class="news-item-author">{{ news.author }}</h3>
            <p class="news-item-date">Published: {{ formatPublishDate(news.publishedAt) }}</p>
        </div>
    </div>
    <div v-else>No articles to show</div>
    
    <NewsDetail ref="newsdetail" />

    <!-- Loader -->
    <div id="loader-container" v-show="displayLoader">
        <div class="loader"></div>
    </div>

    <div v-if="newsList.length" v-observe-visibility="handleScrollToBottom"></div>
</div>
</template>

<script>
import NewsDetail from './NewsDetailComponent';
export default {
    name: 'NewsList',
    components: {
        NewsDetail
    },
    data () {
        return {
            placeholderImg: "https://www.gaithersburgdental.com/wp-content/uploads/2016/10/orionthemes-placeholder-image.png",
        }
    },
    computed: {
        newsList() { return this.$store.state.newsList },
        pageSize() { return this.$store.state.pageSize },
        totalResults() { return this.$store.state.totalResults },
        currentPage() { return this.$store.state.currentPage },
        lastPage() { return this.$store.state.lastPage },
        displayLoader() { return this.$store.state.displayLoader },
    },
    mounted() {
        this.$store.dispatch("getAllNewsList");
    },
    methods: {
        handleScrollToBottom(isVisible){
            if(!isVisible){ return; }
            if(this.$store.state.currentPage >= this.$store.state.lastPage) { return; }

            this.$store.commit('UPDATE_LOADER',true);
            this.$store.dispatch("handleScrollToBottom");
        },
        getNewsDetail(index){
            this.$refs.newsdetail.info = this.newsList[index];
            this.$refs.newsdetail.getNewsDetail();
        }
    }
}
</script>