<template>
  <div id="app">
    <div class="content-wrapper">
      <Header />
      <div class="content-body">
        <News />
      </div>
    </div>
  </div>
</template>

<script>
import Header from './components/layout/HeaderComponent.vue'
import News from './components/news/NewsComponent.vue'

export default {
  name: 'App',
  components: {
    Header,
    News
  }
}
</script>
